@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundoo: #ac1542;
    text-decoration-skip-ink: #be7389;
    --: #e4a1ba;
    --azul-degrade: linear-gradient(97.54deg, #a33174 35.49%, #f3759f 165.37%);
    --fonte-principal: "Poppins";
    --azul: #ff9dba;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

body {
    background-color: rgb(253, 174, 200);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
